<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <title>Werewolf Administrator</title>
</head>

<body>
  <div id="admin" class="content">
    <h1><b>Character Management Interface</b></h1>
    <div class="add">
      <div class="form">
        <p>Character Name
          <input v-model="name">
        </p>
        <p>Side (True = good, False = bad)
          <input type="checkbox" id="checkbox" v-model="side">
        </p>
        <p>Ability
          <input v-model="ability">
        </p>
        <p>Detail
          <input v-model="detail">
        </p>
        <button :disabled="!name" @click="upload">Add Character</button></p>
      </div>
    </div>
    <div class="heading">
      <h1><b>Current Characters</b></h1>
    </div>
    <div class="character" v-for="character in characters">
      <p><span class="glyphicon glyphicon-remove" v-on:click="deleteItem(character)"></span>
        Name: {{character.name}} - Good: {{character.side}} - Detail: {{character.detail}}
        <img style="vertical-align:middle" :src="character.path" /></p>
    </div>

  </div>

  <div class="footer">
    created by Zhi-Hao Tsai
    <a class="footer-link" href="https://github.com/BYUCS260/lab-4-node-haotsai101.git">repo</a>
    <a class="footer-link" href="index.html">index</a>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.7/vue.js" integrity="sha256-g+Q8DFAmG5+eyRPSydX0LY4TfjsL11XSDrIGerbbEdA=" crossorigin="anonymous"></script>
  <script src="javascripts/admin.js"></script>
</body>

</html>
